
a {
    color: rgb(128, 119, 119);
	text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

html {
    display: flex;
    justify-content: center;
    margin: 0 10% 0 20%;
    /* border: 1px solid; */
}

/* .main image {
    display: flex;
    justify-content: center;
} */

.services-header-img {
    padding: 0px 0px 0px 0px;
    /* border: 1px solid; */
    
}

.services {
    
    padding: 10px 0px 10px 0px;
}

.list-of-service {
    background-color: whitesmoke;
    border: 1px solid;
    margin: 20px 20px 20px 20px;
    padding: 20px;
}

button {
    background-color: white;
    border: 1px solid;
    padding: 10px 45px;
    font-size: 11px;
    border-radius: 8px;
}

h2, h3, h4 {
    font-style: italic; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

.offers {
    display: flex;
    flex-direction: column;
    /* align-content: space-between;
    justify-content: space-around; */
}

.first-row {
    border-top: 1px solid;
    
    display: flex;
    justify-content: center;
}

.second-row {
    display: flex;
    justify-content: space-between;
}

.third-row {
    display: flex;
    justify-content: space-around;
}

.bottom {
    display: flex;
    border-top: 2px solid;
    padding: 40px;
}

ul {
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}

footer {
    display: flex;
    justify-content: center;
}

/* span {
    align-self:center;
} */